
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%=pageTitle%></title>
  <%- css('css/fuling.min.css') %>
  <%- js('js/zepto.min.js') %>
  <%- css('css/github.min.css"') %>
  <%- js('js/highlight.min.js') %>
</head>
<body>
 
<div id="menu-outer">
  <div id="menu-inner">
    
    <% /*console.log(config) */%>
    <% /*Object.keys(theme.menu).forEach(function(key) { %>
      <a href="<%=theme.menu[key]%>"><%=key%></a>
    <% });*/ %>
    
      <a href="<%=config.root%>">主页</a>
      <a href="/about">关于</a>
      <a href="/archives">归档</a>
      
  </div>
</div>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>

<div id="bottom-outer">
  <div id="bottom-inner">
    Powered with <a href="http://hexo.io">Hexo </a> , Theme by <a href="https://elven.coding.me">茯苓猫</a> with &hearts;
    
  </div>
</div>

<%- js('js/fuling.js') %>
</body>
</html>
